<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>添加成员</h3>
<form action="/expment/admin.php/Home/Member/addmemberhandle" method="post" enctype="multipart/form-data">
<table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">
	<tr>
	
		<td align="right">姓名</td>
		<td><input type="text"  name="mem_name" required="required"/></td>
	</tr>
	<tr>
		<td align="right">性别</td>
		<td><select name="sex" >
				<option  value='0'>男</option>
				<option value='1'>女</option>
		</select>
		</if>
		
		</td>
	</tr>
	
	<tr>
		<td align="right">成员所属类别</td>
		<td>
		<select name="member_type_id" >
					<option value='5'>总负责人</option>
					<option value='6'>指导老师</option>
		</select>
		</td>
	</tr>
	<tr>
		<td align="right">照片</td>
		<td><input type="file" name="image" /></td>
	</tr>
	<tr>
		<td align="right">联系电话</td>
		<td><input type="text" name="phone_num" /></td>
	</tr>
	<tr>
		<td align="right">联系邮箱</td>
		<td><input type="email" name="e_mail"/></td>
	</tr>
	<tr>
		<td align="right">QQ</td>
		<td><input type="text" name="qq"/></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit"  value="添加成员" style="margin-left:80%"/></td>
	</tr>

</table>
</form>
</body>
</html>