<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{$Think.const.CSS_URL}/backstage.css">
</head>

<body>

<div class="details">
                    <div class="details_operation clearfix">
                       <div class="bui_select">
                            <input type="button" value="添&nbsp;&nbsp;加" class="add"  onclick="addMember()">
                        </div>  
                    </div>
                    <!--表格-->
                    <table class="table" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                            	<th >编号</th>
                                <th >姓名</th>
                                <th >性别</th>
                                <th >学号</th>
                                <th >学习方向</th>
                                <th >成员所属类型</th>
                                <th >电话号码</th>
                                <th >邮箱</th>
                                <th>QQ</th>
                                <th >照片</th>
                                <th >操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name='mes' item='vo' key='k'>
                            <tr>
                                <!--这里的id和for里面的c1 需要循环出来-->
                                <td>{$k+1}</td>
                                <td>{$vo[mem_name]}</td>
                                <td>
                                	<if condition="$vo['sex'] eq 0">男
                                	<elseif condition="$vo['sex'] eq 1"/>女
                                	</if>
                                </td>
                                <td>{$vo[student_no]}</td>
                                 <td>
	                                 <if condition="$vo['study_direction_id'] eq 0"> 
									PHP	
									<elseif condition="$vo['study_direction_id'] eq 1"/>
									IOS	
									<elseif condition="$vo['study_direction_id'] eq 2"/>
									Android
									<elseif condition="$vo['study_direction_id'] eq 3"/>
									前端
									<elseif condition="$vo['study_direction_id'] eq 4"/>
									Java
									<elseif condition="$vo['study_direction_id'] eq 5"/>
									美工
									<elseif condition="$vo['study_direction_id'] eq 6"/>
									虚拟现实
									<elseif condition="$vo['study_direction_id'] eq 7"/>
									.NET
									<elseif condition="$vo['study_direction_id'] eq 8"/>
									C/C++
									<elseif condition="$vo['study_direction_id'] eq 9"/>
									其他
									</if>
			
                                 
                                 </td>
                                <td>
                                	<if condition="$vo['member_type_id'] eq 0"> 
									新成员
									<elseif condition="$vo['member_type_id'] eq 1"/>
									实习组成员	
									<elseif condition="$vo['member_type_id'] eq 2"/>
									测试组成员
									<elseif condition="$vo['member_type_id'] eq 3"/>
									研发组成员
									<elseif condition="$vo['member_type_id'] eq 4"/>
									项目经理
									<elseif condition="$vo['member_type_id'] eq 5"/>
									总负责人
									<elseif condition="$vo['member_type_id'] eq 6"/>
									指导老师
									<elseif condition="$vo['member_type_id'] eq 6"/>
									已毕业成员
									
									</if>
                                
                                </td>
                                <td>{$vo[phone_num]}</td>
                                <td>{$vo[e_mail]}</td>
                                <td>{$vo[qq]}</td>
                                <td><img src="{$Think.const.UPLOAD}{$vo['image']}"/></td>
                                <td align="center"><input type="button" value="修改" class="btn" onclick="editMember({$vo['mem_id']})"><input type="button" value="删除" class="btn"  onclick="delMember('{$vo['mem_id']}','{$vo['image']}')"></td>
                            </tr>
                        </foreach>
                          
                        </tbody>
                    </table>
                </div>
                 <div class="pages">
                        {$page}
                </div>
</body>
<script type="text/javascript">
	function addMember(){
		window.location="{$Think.const.ROOT_URL}/admin.php/Home/Member/addmember";	
	}
	
	function editMember(id){
			window.location="{$Think.const.ROOT_URL}/admin.php/Home/Member/modifymember?mem_id="+id;
	}
	function delMember(id,image){
			if(window.confirm("您确定要删除吗？删除之后不可以恢复哦！！！")){
				window.location="{$Think.const.ROOT_URL}/admin.php/Home/Member/delmember?mem_id="+id+"&image="+image;
			} 
	}
</script>
</html>