<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="{$Think.const.CSS_URL}/base.css" />
	<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}/bottom.css"/>
</head>
<body>
<!--表单strart-->
			<div class="biaodan" >
				<div class="content bc">
					<div class="left fl">
						<div class="title">
							<div class="title-big f30 c0094e1">我要加入</div>
							<div class="title-small f12 caaa">我们真诚欢迎你的加入</div>
						</div>
						<div class="real-form">
							<form action="/expment/home.php/Home/Member/addteacherhandle" method="post" enctype="multipart/form-data">
								<ul>
									
									<li>
										<input type="text" placeholder="姓名 :" required="required" name="mem_name"/>
									</li>
									<li>
									<p  style="float:left; color:#A9A9A9;margin-top:10px;margin-left:20px;">性别: &nbsp;</p>
										
										<label style="color:#A9A9A9;"><input name="sex" type="radio" value="0" style="margin-top:15px;margin-left:20px;" />男 </label> 
										<label style="color:#A9A9A9;"><input name="sex" type="radio" value="1" style="margin-top:15px;margin-left:20px;"/>女 </label> 
										
									</li>
									<li>
										<input type="text" placeholder="学号 :" required="required" name="student_no"/>
									</li>
									<li>
										<input type="text" placeholder="qq:" required="required" name="qq"/>
									</li>
									<li>
										<input type="text" placeholder="手机号码 :" required="required" name="phone_num"  />
									</li>
									<li>
										<input type="text" placeholder="邮箱 :" required="required" name="e_mail" />
									</li>
									
									<textarea name="" placeholder="个人简介:" required="required" name="detail_info"></textarea>
									<div class="last">
										<div class="last-top">
											<input type="text" placeholder="已经学习过的方向 :" required="required" name="have_study_direction" />
										</div>
										
										<div class=" tc" style="background-color:#ffffff;height:40px;width:230px;margin-top:15px;padding-top:10px;">
											<input style="height:25px;" type='text' name='image_1' id='textfield' class='txt' placeholder="请上传照片"/>  
 											<input type='button' class='btn' value='浏览...' />
											<input  type="file" name="image" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" />
										</div>
									
									
									<input type="submit" class="last-btn tc f17" value="提交申请" ></input>
									</div>
								</ul>
							</form>
						</div>
					</div>
					<div class="right fr">
						<div class="title">
							<div class="title-big f30 c0094e1">联系我们</div>
							<div class="title-small f12 caaa">如有任何问题,可以拨打以下电话联系我们!</div>
						</div>
						<div class="touch-us touch-us1">
							<div class="touch-us1-title f15">实训中心</div>
							<div class="touch-us-content content1 f14 c848484">山西省太原市尖草坪太原工业学院电子楼602</div>
							<div class="touch-us-content content2 f14 c848484">电话 : 0351-4148288/4148218</div>
						</div>
						<div class="touch-us touch-us1">
							<div class="touch-us1-title f15">研发中心</div>
							<div class="touch-us-content content1 f14 c848484">山西省太原市尖草坪太原工业学院电子楼602</div>
							<div class="touch-us-content content2 f14 c848484">电话 : 0351-2308359</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				
			</div>
		<!--表单end-->
		<!--footer start-->
		<!--结尾start-->
	<div class="jiewei ">
	<p>&nbsp</p>
		<div class="erwei tc"><img src="{$Think.const.IMG_URL}/erweima.png"/></div>
		<div class="erweizi"><p class="f15 tc">扫一扫&nbsp;进入微网</p></div>
		<div class="zuihou">
		<ul class="nav ">
						<li class="fl w50 tc">
							<a href="__APP__/Home/Index/index">
								<div class="normal">首页</div>
								<div class="hover c0094e1">[首页]</div>
							</a>
						</li>
						<li class="fl w100 tc">
						    <a href="__APP__/Home/aboutExp/aboutexp">
								<div class="normal">基地介绍</div>
								<div class="hover c0094e1">[基地介绍]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Member/gettrainmember">
								<div class="normal">成员风采</div>
								<div class="hover c0094e1">[成员风采]</div>
						</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Pro/getnodoingpro">
								<div class="normal">基地项目</div>
								<div class="hover c0094e1">[基地项目]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Notice/getallmes">
								<div class="normal">新闻动态</div>
								<div class="hover c0094e1">[新闻动态]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Member/getstarmember">
								<div class="normal">明星成员</div>
								<div class="hover c0094e1">[明星成员]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Resource/getphpmes">
								<div class="normal">学习资源</div>
								<div class="hover c0094e1">[学习资源]</div>
							</a>
					    </li>
					  <!--  <li class="fl w100 tc">
							<a href="__APP__/Home/Member/getnewmember">
								<div class="normal">我要加入</div>
								<div class="hover c0094e1">[我要加入]</div>
							</a>
					    </li> --> 
					    <li class="fl w100 tc">
							<a href="http://www.tit.edu.cn/" target="_blank">
								<div class="normal">学院首页</div>
								<div class="hover c0094e1">[学院首页]</div>
							</a>
					    </li>
					    <div class="clear tc"></div>
					</ul>
		</div>
		<p class="tc f15 yanse">地址：山西省太原市尖草坪太原工业学院电子楼602&nbsp;&nbsp;&nbsp;电话:0351-414822/1448218&nbsp;山西省太原工业学院</p>
		<p class="tc f15 yanse">Copyright@2016-2026&nbsp;SINA&nbsp;Corporation,All&nbsp;Rights&nbsp;Reserved</p>
	</div>
	<!--结尾end-->
		<!--footer end-->
	</div>

</body>
</html>