<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<title>header</title>
		<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}/base.css">
		<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}/header.css">
</head>
<body>
 <!-- 背景头 start-->
    <div class="bgheader width100%" >
   		<div class="top_bg fr" style="margin-left=0px;">
   			<img src="{$Think.const.IMG_URL}/基地介绍img/top_bg.png" alt="" />
   			<div class="tell_us f13">
   				<a href="{$Think.const.ROOT_URL}/admin.php">项目管理入口  </a>  |						
   				<a href="#">联系我们</a>
   			</div>
   		</div>
   	</div>
    <!-- 背景尾 end -->
    <!--头部start-->
	<div class="header width1000 clear">
		<div class="logo fl width20%">
			<a href=""><img src="{$Think.const.IMG_URL}/基地介绍img/logo.png" alt=""/></a><!-- logo.png -->
		</div>
		<!--导航开始-->
		<div class="nav fr ">
			<ul class="f15">
				<li class="fl w50 tc">
							<a href="__APP__/Home/Index/index">
								<div class="normal">首页</div>
								<div class="hover c0094e1">[首页]</div>
							</a>
						</li>
						<li class="fl w100 tc">
						    <a href="__APP__/Home/aboutExp/aboutexp">
								<div class="normal">基地介绍</div>
								<div class="hover c0094e1">[基地介绍]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Member/gettrainmember">
								<div class="normal">成员风采</div>
								<div class="hover c0094e1">[成员风采]</div>
						</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Pro/getnodoingpro">
								<div class="normal">基地项目</div>
								<div class="hover c0094e1">[基地项目]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Notice/getallmes">
								<div class="normal">新闻动态</div>
								<div class="hover c0094e1">[新闻动态]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Member/getstarmember">
								<div class="normal">明星成员</div>
								<div class="hover c0094e1">[明星成员]</div>
							</a>
					    </li>
					    <li class="fl w100 tc">
							<a href="__APP__/Home/Resource/getphpmes">
								<div class="normal">学习资源</div>
								<div class="hover c0094e1">[学习资源]</div>
							</a>
					    </li>
					   <!--   <li class="fl w100 tc">
							<a href="__APP__/Home/Member/getnewmember">
								<div class="normal">我要加入</div>
								<div class="hover c0094e1">[我要加入]</div>
							</a>
					    </li>-->
					    <li class="fl w100 tc">
							<a href="http://www.tit.edu.cn/" target="_blank">
								<div class="normal">学院首页</div>
								<div class="hover c0094e1">[学院首页]</div>
							</a>
					    </li>
			</ul>
		</div>
		<!--导航结束-->
		<div class="clear"></div>
	</div>
    <!--头部end-->
</body>
</html>