<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>修改公告</h3>
<form action="/expment/admin.php/Home/Notice/modifynoticehandle" method="post" enctype="multipart/form-data">
<table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">
	<tr>
	<input name="notice_id" value="{$mes[0][notice_id]}" type="hidden"/>
		<td align="right">公告标题</td>
		<td><input type="text"  name="title" value="{$mes[0][title]}" required="required"/></td>
	</tr>
	<tr>
		<td align="right">公告正文</td>
		<td><textarea rows="5" cols="60" name="text"  >{$mes[0][text]}</textarea></td>
	</tr>
	<tr>
		<td align="right">发布人</td>
		<td><input type="text" value="{$mes[0][mem_id]}" name="mem_id" /></td>
	</tr>
	
	
	<tr>
		<td colspan="2"><input type="submit"  value="确认修改" style="margin-left:80%"/></td>
	</tr>

</table>
</form>
</body>
</html>